/*页面版心*/
*{
    margin: 0;
    padding: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w{
    width: 1130px;
    margin: 0 auto;
}
a{
    outline: none;
    text-decoration: none;
}
nav{
    width: 1920px;
    height: 98px;
}
.nav_bar{
    height: 98px;
}
.panel {
    width: 1920px;
    height: 617px;
    background: url("../img/login_backgroud.png") no-repeat;
}
.panel_inner{
    height: 654px;
    position: relative;
    overflow: hidden;
}
.login_main{
    width: 414px;
    height: 493px;
    position: absolute;
    left: 709px;
    top: 67px;
    background-color: #ffffff;
    overflow: hidden;
}
.form_head{
    height: 79px;
    width: 91%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}
.login_main a{
    text-align: center;
    font-size: 24px;
    color: #666666;
    margin: 20px auto;
    padding: 0 20px;
}
.login_main #mobile_login{
    color: #ef5b00;
}
.login_main a:hover{
    color: #ef5b00;;
}
.form_head span{
    position: absolute;
    left: 169px;
    top: -3px;
}
.login_passwd,.login_mobile{
    width: 336px;
    height: 48px;
    margin-bottom: 14px;
    border: 1px solid #e0e0e0;
    margin-left: 33px;
}
.login_mobile input,.login_passwd input{
    width: 280px;
    height: 39px;
    margin-bottom: 14px;
    border: none;
    margin-left: 33px;
    color: #333;
    padding: 3px 5px;
    outline: none;
    text-decoration: none;
}
.subs{
    width: 340px;
    height: 50px;
    margin-left: 33px;
}
.subs #sub-btn{
    background-color: #ef5b00;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.second_login{
    width: 338px;
    height: 62px;
    border: 1px solid red;
    position: absolute;
    left: 33px;
    top: 404px;
    overflow: hidden;
}
.login_img_head{
    height: 26px;
    width: 100%;
    margin-left: -6px;
}

