*{                      /*去除默认边距*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none!important;
}
i{
    font-style: normal;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
ul{
    text-decoration: none;
}